<!doctype html>
<html lang="en">
	
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Prism Social Network</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="/normalize.css">
		<link rel="stylesheet" href="/main.css">
		
	</head>
	
	<body>
	<svg height="350" width="350" style="position: absolute; top: 0px; left: 0px;">
		<polygon points="0,0 350,0 0,350" style="fill:#330036" />
		<polygon points="0,0 300,0 0,300" style="fill:#29335C" />
		<polygon points="0,0 250,0 0,250" style="fill:#4392F1" />
		<polygon points="0,0 200,0 0,200" style="fill:#26A96C" />
		<polygon points="0,0 150,0 0,150" style="fill:#F1C40F" />
		<polygon points="0,0 100,0 0,100" style="fill:#F19143" />
  		<polygon points="0,0 50,0 0,50" style="fill:#CA054D" />
	</svg>
	<svg height="350" width="350" style="position: absolute; bottom: 0px; right: 0px;">
		<polygon points="350,350 350,0 0,350" style="fill:#330036" />
		<polygon points="350,350 50,350 350,50" style="fill:#29335C" />
		<polygon points="350,350 100,350 350,100" style="fill:#4392F1" />
		<polygon points="350,350 150,350 350,150" style="fill:#26A96C" />
		<polygon points="350,350 200,350 350,200" style="fill:#F1C40F" />
		<polygon points="350,350 250,350 350,250" style="fill:#F19143" />
  		<polygon points="350,350 300,350 350,300" style="fill:#CA054D" />
	</svg>
	<!--<img class="topCorner" src="/TopCorner.png">-->
	<!--<img class="bottomCorner" src="/BottomCorner.png">-->
		<div class="container">
			<form class="login" action="/" method="POST">
				<div class="form-group">
					<input type="email" class="form-control" name="username" id="username" aria-describedby="emailHelp" placeholder="Email" required>
				</div>
				<div class="form-group">
					<input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
				</div>
				<div class="form-check">
					<input type="checkbox" value="" class="form-check-input" id="rememberLogin">
					<label for="rememberLogin" class="form-check-login">Remember Me</label>
				</div>
				<div class="row">
					<div class="col">
						<button type="button" id="createAccount" class="btn btn-block btn-lg btn-primary">Create Account</button>
					</div>
					<div class="col">
						<button type="submit" id="logIn" class="btn btn-block btn-lg btn-outline-primary">Log In</button>
					</div>
				</div>
				
				
			</form>

			<!-- The Modal -->
			<div id="myModal" class="modal">

			<!-- Modal content -->
			<div class="modal-content">
				<div class="modal-header">
					<h3>Create an Account</h3>
					<span class="close">&times;</span>
				</div>
				<!-- Form in modal body -->
				<div class="modal-body">
					<form class="createAccountForm" action="/home" method="post">
						<div class="row">
								<div class="form-group col slLeft">
									<input type="text" class="form-control" id="fNameAC" name="fNameAC" placeholder="First Name" required>	
								</div>
								<div class="form-group col slRight">
									<input type="text" class="form-control" id="lNameAC" name="lNameAC" placeholder="Last Name" required>
								</div>
							<input type="email" class="form-control createEmail" id="username" name="username" placeholder="Email" required>
							<input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
						</div>
						<br>

						<h4> Choose your favorite color: <h4>
						<label>
							<input type="radio" name="color" value="pictorialCarmine">
							<img class="color" src="/PictorialCarmine.png">
						</label>
						<label>
							<input type="radio" name="color" value="tigersEye">
							<img class="color" src="/TigersEye.png">
						</label>
						<label>
							<input type="radio" name="color" value="jonquil">
							<img class="color" src="/Jonquil.png">
						</label>
						<label>
							<input type="radio" name="color" value="crayolaGreen">
							<img class="color" src="/CrayolaGreen.png">
						</label>
						<label>
							<input type="radio" name="color" value="blueberry">
							<img class="color" src="/Blueberry.png">
						</label>
						<label>
							<input type="radio" name="color" value="deepKoamaru">
							<img class="color" src="/DeepKoamaru.png">
						</label>
						<label>
							<input type="radio" name="color" value="middleRedPurple">
							<img class="color" src="/MiddleRedPurple.png">
						</label>


						<div>
						<br>
						<button type="submit" id="submitAC" class="btn btn-block btn-lg btn-primary">Create Account</button>
						</div>
					</form>
				</div>
				<div class="modal-footer">
				</div>
			</div>

			</div>
			
		</div>
		
		
		<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="/login.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
	
</html>